@page
@model ErrorModel
@{
    ViewData["Title"] = "Hiba";
}

<h1 class="text-danger">Hiba</h1>
<h2 class="text-danger">Valaki beleszart a szerverbe.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
